.patternContainer {
    margin: 40px auto;
    width: 500px;

    @media only screen and (max-width: 700px) {
        width: 100%;
    }

    .patternRow {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .patternRowWinAnimation {
        animation: lds-grid 1.2s linear infinite;
    }

    .patternRowWinAnimation:nth-child(2) {
        animation-delay: -0.3s;
    }


    .patternCol {
        width: 50px;
        height: 50px;
        border-radius: 20%;
        margin-right: 5px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .patternColWinAnimation {
        animation: lds-grid 1.2s linear infinite;
    }

    .patternColWinAnimation:nth-child(2) {
        animation-delay: -0.5s;
    }

    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
    }

    .bottomButtons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px auto;
        max-width: 300px;
    }
}