.showPatternsContainer {
    margin: 0 auto;

    .countdownTimer {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 46px;
    }
}