:root {
  /* Variables */
  --color-background: #f7f7f7;
  --color-text: #484848;
  --color-text-dark: #7d7d7d;
  --color-blue: #00a2f2;
  --color-blue-dark: #008dd3;
  --color-green: #01b287;
  --color-green-dark: #009570;
  --color-orange: #f0733d;
  --color-orange-dark: #d86737;
  --color-purple: #8869e7;
  --color-purple-dark: #7c5ed4;
  --color-yellow: #e6b800;
  --color-yellow-dark: #cea500;

  /* Fonts */

  .alegreya-sans-sc-thin {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .alegreya-sans-sc-light {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .alegreya-sans-sc-regular {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .alegreya-sans-sc-medium {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .alegreya-sans-sc-bold {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .alegreya-sans-sc-extrabold {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .alegreya-sans-sc-black {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .alegreya-sans-sc-thin-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .alegreya-sans-sc-light-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .alegreya-sans-sc-regular-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .alegreya-sans-sc-medium-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .alegreya-sans-sc-bold-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .alegreya-sans-sc-extrabold-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .alegreya-sans-sc-black-italic {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Main Styling Edits */
  background: var(--color-background);
  color: var(--color-text);
}
