.showPatternsContainer {
    margin: 0 auto;

    .difficultiesContainer {
        display: flex;
        margin: 0 auto 20px;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }

    .difficultyOption {
        font-size: 24px;
        opacity: 0.2;
        border-bottom: none;
        min-width: 100px;
        padding-bottom: 5px;

        &:hover {
            filter: drop-shadow(0px 0px 2px var(--color-blue));
            cursor: pointer;
            opacity: 0.4;
        }

        &.isSelected {
            font-size: 26px;
            opacity: 1;
            border-bottom: 2px solid white;

            &:hover {
                filter: none;
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .countdownTimer {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 46px;
    }


}